@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #000000;
  color: white;
}

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.cta {
  background: linear-gradient(135deg, #6a0dad, #1e90ff);
}

button:hover {
  border: solid 1px ghostwhite;
  border-radius: 0.5rem;
}

h2 {
  text-shadow: 10px 0 30px #ff1493;
}

.ReactCollapse--collapse {
  transition: height 500ms;
  color: #8a40d4cf;
}
