@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #000000;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.ReactCollapse--collapse {
  transition: height 500ms;
  color: #8a40d4cf;
}
/* 
.orbitron {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
